google-genai==2.23.0
livekit==1.1.18
livekit-agents==1.8.1
livekit-api==1.2.1
livekit-blingfire==1.1.0
livekit-local-inference==0.2.7
livekit-plugins-google==1.8.1
livekit-plugins-silero==1.8.1
livekit-plugins-turn-detector==1.8.1
livekit-protocol==1.1.26
python-dotenv==1.2.3
